<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="wrap">
  <header class="header">
      <a href="index.html"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png" alt="logo.png"></a>
      <ul>
          <li><a href="#">系列眼眶</a></li>
          <li><a href="location.html">門市據點</a></li>
          <li><a href="blog.html">部落格</a></li>
          <li><a href="#">常見問題</a></li>
      </ul>
  </header>

  <%- contents %>

  <footer class="footer">
      <div class="footer-menu">
        <ul>
            <li><a href="index.html">首頁</a></li>
            <li><a href="#">系列課程</a></li>
            <li><a href="location.html">門市據點</a></li>
            <li><a href="blog.html">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
        <div class="footer-icon">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week3/icon-fb.svg" alt="">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week3/icon-ig.svg" alt="">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week3/icon-line.svg" alt="">
    </div>
    </div>
  
    <div class="footer-content">
        <div class="content-sm">
        <div class="content-first">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week3/icon-phone.svg" alt="">
            <p>0800-000-000</p>
        </div>
        <div class="content-second">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/2b326fe971cd296bd54667a9b4a63c4b0f19fab3/week3/icon-mail.svg" alt="">
            <a href="#">glasses@business.com</a>
        </div>
        </div>  
        
    </div>
    
    <hr>
    <div class="footer-bottom">
        <ul>
            <li>Copyright © 2020 Glasses.All rights reserved.</li>
            <li>
                <a href="#">隱私權政策</a>
                <a href="#">服務條款</a>
            </li>
        </ul>
    </div>
  </footer>
</div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
