@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Noto Sans TC'; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 24px; }

p {
  font-size: 20px; }

a {
  font-size: 19px; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  background: #9F1213;
  padding: 0 15px; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .container .header-logo li img {
      padding: 30px 0px;
      display: block; }
    .header .container .header-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .container .header-nav li {
        margin-left: 32px; }
        .header .container .header-nav li a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          text-align: center;
          display: block; }
          .header .container .header-nav li a:hover {
            font-size: 25px; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; } }

@media (max-width: 375px) {
  .header {
    padding: 0 0px; }
    .header .container {
      max-width: 375px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header .container .header-nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 0; }
        .header .container .header-nav li {
          border: 1px solid #FFFFFF;
          width: 50%;
          height: 100%;
          padding: 8px 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: 0;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .header .container .header-logo {
        margin-left: 0; }
        .header .container .header-logo li img {
          padding: 5px 0px;
          display: block; } }

@media (min-width: 375px) and (max-width: 376px) {
  .header {
    padding: 0 0px; }
    .header .container {
      max-width: 375px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header .container .header-nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 0; }
        .header .container .header-nav li {
          border: 1px solid #FFFFFF;
          width: 50%;
          padding: 8px 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: 0;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .header .container .header-logo {
        margin-left: 0; }
        .header .container .header-logo li img {
          padding: 5px 0px;
          display: block; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  .container h1 {
    border-left: 8px solid #9F1213;
    margin-bottom: 65px;
    margin-top: 96px;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    padding-left: 16px; }
  .container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 37px; }
    .container form select {
      margin-left: 39px;
      width: 324px;
      height: 45px;
      font-size: 18px; }
  .container .locate-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px; }
    .container .locate-list li {
      margin-bottom: 32px;
      padding: 0 15px;
      max-width: 33%; }
      .container .locate-list li img {
        max-width: 100%;
        height: auto;
        display: block; }
      .container .locate-list li h2 {
        padding: 12px 0 12px 24px;
        border: 1px solid #00000020; }
  .container .locate-item {
    border: 1px solid #00000020;
    padding: 16px 0 16px 24px; }
    .container .locate-item li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 8px;
      max-width: 100%; }
      .container .locate-item li img {
        display: block;
        max-width: 100%;
        padding-right: 10px; }
  .container .box {
    height: 67px; }
    .container .box a {
      display: block;
      text-align: center;
      background: #000;
      padding: 20px 0;
      text-decoration: none;
      color: white; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; }
    .container .locate-list li {
      max-width: 50%; } }

@media (max-width: 375px) {
  .container {
    max-width: 375px; }
    .container h1 {
      font-size: 28px; }
    .container form {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .container form h2 {
        font-size: 14px; }
      .container form select {
        font-size: 14px; }
    .container .locate-list li {
      max-width: 100%; } }

.menu-top {
  background: #650300; }
  .menu-top .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 auto; }
    .menu-top .nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .menu-top .nav ul li {
        margin: 12px 48px 12px 0; }
        .menu-top .nav ul li a {
          font-size: 20px;
          color: white;
          font-family: 'Noto Sans TC';
          text-decoration: none; }

.blog {
  margin: 96px auto 0 auto; }
  .blog h1 {
    font-size: 48px;
    margin: 40px 0 60px 0;
    padding-left: 16px;
    font-family: 'Noto Sans TC';
    font-weight: bold;
    border-left: 8px solid #650300; }
  .blog ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .blog ul li img {
      width: 635px;
      height: 400px; }

.active-first {
  margin-left: 30px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .active-first ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .active-first ul li h2 {
      font-size: 32px;
      color: #650300;
      font-weight: bold;
      font-family: 'Noto Sans TC';
      margin-bottom: 2px; }
    .active-first ul li span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 24px; }
      .active-first ul li span h3 {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto'; }
    .active-first ul li p {
      font-size: 20px;
      color: #555555;
      line-height: 30px;
      width: 445px;
      font-family: 'Noto Sans TC'; }
    .active-first ul li .ipadtext {
      font-size: 20px;
      color: #555555;
      line-height: 30px;
      width: 445px;
      font-family: 'Noto Sans TC'; }
      .active-first ul li .ipadtext a {
        text-decoration: none;
        color: #000; }
    .active-first ul li h4 {
      font-size: 36px;
      color: #650300;
      font-weight: bold;
      text-align: right;
      font-family: 'Roboto'; }

.blog-page {
  margin-bottom: 160px;
  margin-top: 96px; }
  .blog-page ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .blog-page ul li a {
      display: block;
      border: 1px solid #555555;
      padding: 12px 16px;
      text-decoration: none;
      color: #555555; }
      .blog-page ul li a:hover {
        color: white;
        background: #000; }
    .blog-page ul li li a {
      display: block;
      border: 1px solid #555555;
      padding: 12px 16px;
      text-decoration: none;
      color: #555555; }
      .blog-page ul li li a:hover {
        color: white;
        background: #000; }

.page-p {
  padding: 11px 12px;
  display: block;
  border: 1px solid #000; }

@media (max-width: 768px) {
  .blog h1 {
    margin: 28px 0; }
  .blog ul li {
    margin-bottom: 24px; }
    .blog ul li img {
      width: 320px;
      height: 208px; }
  .active-first {
    height: 0;
    margin: 0 auto; }
    .active-first ul li h2 {
      font-size: 20px; }
    .active-first ul li span {
      font-size: 16px; }
      .active-first ul li span h3 {
        font-size: 14px; }
    .active-first ul li p {
      display: none; }
    .active-first ul li .ipadtext {
      display: block;
      font-size: 14px;
      width: 322px;
      line-height: 21px; }
    .active-first ul li h4 {
      display: none; } }

@media (max-width: 376px) {
  .menu-top {
    display: none; }
  .blog {
    margin: 96px 15px 0 15px; }
    .blog ul li {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .blog ul li img {
        width: 345px;
        height: 217px; }
  .active-first {
    margin: 8px 5.2px 20px 5px;
    height: 0; }
    .active-first ul li h2 {
      font-size: 20px; }
    .active-first ul li span {
      font-size: 16px; }
      .active-first ul li span h3 {
        font-size: 14px; }
    .active-first ul li p {
      display: none; }
    .active-first ul li .ipadtext {
      display: none; }
    .active-first ul li h4 {
      display: none; }
  .blog-page {
    margin-bottom: 40px; }
    .blog-page ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .blog-page ul li a {
        padding: 6px; }
      .blog-page ul li li a {
        padding: 6px; } }

@media (min-width: 768px) {
  .active-first .ipadtext {
    display: none; } }

.footer {
  background: #AA0601;
  color: white; }
  .footer .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 32px 15px; }
  .footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 36px; }
    .footer .footer-content .footer-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .footer-content .footer-menu li {
        margin-right: 48px; }
        .footer .footer-content .footer-menu li a {
          font-size: 16px;
          font-family: 'Noto Sans TC';
          text-decoration: none;
          color: white; }
    .footer .footer-content .footer-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-content .footer-icon li {
        margin-left: 32px; }
  .footer .footer-datas .content-data li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px; }
    .footer .footer-datas .content-data li p, .footer .footer-datas .content-data li a {
      font-size: 36px;
      font-family: Roboto;
      text-decoration: none;
      color: white;
      margin-left: 22px; }
  .footer .footer-bottom ul {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footer-bottom ul li {
      font-size: 16px;
      font-family: Roboto; }
      .footer .footer-bottom ul li a {
        font-size: 14px;
        font-family: 思源黑體 TW;
        text-decoration: none;
        color: white;
        margin-left: 48px; }

@media (max-width: 768px) {
  .footer .footer-content .footer-menu li {
    margin-right: 40px; }
  .footer .footer-content .footer-icon li {
    margin-left: 24px; }
    .footer .footer-content .footer-icon li img {
      width: 24px;
      height: 24px; }
  .footer .footer-datas .content-data li p, .footer .footer-datas .content-data li a {
    font-size: 20px; }
  .footer .footer-datas .content-data li img {
    height: 18px;
    width: 18px; }
  .container {
    max-width: 720px;
    padding: 0 0; } }

@media (max-width: 767px) {
  .container {
    max-width: 767px; }
  .footer .footer-content .footer-menu li {
    display: none; }
  .footer .footer-content .footer-icon li {
    display: none; }
  .footer .footer-bottom {
    margin-top: 16px; }
    .footer .footer-bottom ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer-bottom ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer .footer-bottom ul li a {
          margin-left: 0;
          margin-top: 8px; } }

@media (max-width: 375px) {
  .container {
    max-width: 375px; }
  .footer .footer-content .footer-menu li {
    display: none; }
  .footer .footer-content .footer-icon li {
    display: none; }
  .footer .footer-datas .content-data li p, .footer .footer-datas .content-data li a {
    font-size: 20px; }
  .footer .footer-datas .content-data li img {
    height: 18px;
    width: 18px; }
  .footer .footer-datas .footer-icon-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-datas .footer-icon-second li img {
      height: 24px;
      width: 24px; } }

@media (min-width: 375px) {
  .footer-datas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-datas .content-data li a {
      font-size: 16px;
      margin-left: 6.5px; }
    .footer-datas .content-data li p {
      font-size: 16px; }
  .footer-icon-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-icon-second li img {
      height: 20px;
      width: 20px;
      margin-left: 12px; }
  hr {
    margin: 0; } }

@media (min-width: 767px) {
  .footer-icon-second {
    display: none; } }

/*# sourceMappingURL=all.css.map */
